header {
  background-color: #454B5E;
  border-bottom: thick solid #000000;
}
body {
  background-color: #121624;
}
h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  float: auto;
  text-align: center;
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #454B5E;
  border-width: 0px;
  font-color: #FFFFFF;
  margin-top: 20px;
}
.navbar {
    margin: 0;
    padding: 7.5px 15px;
}
.nav.navbar-nav.navbar-right li a {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
}
.gradient-line { 
    display:block;
    border:none;
    color:white;
    height:1px;
  margin-bottom: 20px;
    background: white;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#121624));
}
.gridder-navigation{
    text-align: right;
    padding-right: 20px;
    margin-bottom: -10px;
    background-color: white;
}
.gridder-expanded-content {
    color: black;
    background-color: white;
}

/*div:nth-child(1) > img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}*/