/*=======Body=======*/
header {
    background-color: #454B5E;
    border-bottom: thick solid #000000;
}

body {
    background-image: url('../img/darkgreyrepeatbackground.jpg');
    background-repeat: round;
}

h1 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-style: italic;
}

p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#about {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    background-color: white;
}

    #about > h1 {
        color: #121624;
    }

#contact {
    margin-bottom: 40px;
}

#contactnote {
    border-radius: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.profile {
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*=======Navbar=======*/
.navbar-default {
    background-color: #454B5E;
    border-width: 0px;
    color: #FFFFFF;
    margin-top: 20px;
}

.navbar {
    margin: 0;
    padding: 7.5px 15px;
}

.nav.navbar-nav.navbar-right li a {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}
/*=======Gradient Line=======*/
#qa > .gradient-line, #dev > .gradient-line {
    display: block;
    border: none;
    color: white;
    height: 1px;
    margin-bottom: 20px;
    background: white;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#303030));
}

#about > .gradient-line {
    display: block;
    border: none;
    color: white;
    height: 1px;
    margin-bottom: 20px;
    background: white;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#121624), to(#fff));
}
/*=======Gridder Modifications=======*/
.gridder-navigation {
    text-align: right;
    background-color: white;
}

.gridder-expanded-content {
    color: black;
    background-color: white;
}

.img-gridder {
    border-radius: 10px;
    background-color: #52576A;
}

.gridder-row > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*=======Bootstrap Modifications=======*/

.row {
    margin-left: 0px;
    margin-right: 0px;
}